<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <style type="text/css">
      html { height: 100% }
      body { height: 100%; }
      #map-canvas { height: 100% }

      a {
        color: #2FC2EF;
      }
      a:hover {
        color: #3c7ee2;
        text-decoration: underline;
      }

      .release_year_filter {
        left: 503px;
        top: 12px;
      }

      .filter_instruction {
        font-size: 18px;
      }
      .controls {
        margin-top: 16px;
        border: 1px solid transparent;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        height: 32px;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
      }

      #pac-input {
        background-color: #fff;
        padding: 0 11px 0 13px;
        width: 400px;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        text-overflow: ellipsis;
      }

      #pac-input:focus {
        border-color: #4d90fe;
        margin-left: -1px;
        padding-left: 14px;
        width: 401px;
      }
    </style>
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDf-wnpNYEjM5qHyyY-DtBxr0pSnK94pOo&sensor=true&libraries=places">
    </script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script type="text/javascript">
      function initialize() {
         // Center the map to be at San Francisco, the home city of Uber.
          var myLatlng = new google.maps.LatLng(37.7583, -122.4275);
          var mapOptions = {
              center: myLatlng,
          };
          // Select the map id canvas.
          var map = new google.maps.Map(document.getElementById("map-canvas"),
              mapOptions);
          // Create boundaries for the map.
          var defaultBounds = new google.maps.LatLngBounds(
              new google.maps.LatLng(37.73, -122.45),
              new google.maps.LatLng(37.82, -122.40));
          map.fitBounds(defaultBounds);
          // Place ALL the film locations on the Google Map using the map markers. Each marker has a pop-up info
          // window containing info about the movie title, filming location, fun facts, and actors.
          // Create a marker for each place.
          markerArray = [];
          {% if search_type.movie_search %}
            {% for title,all_locations in all_data.iteritems() %}
              {% for location_text, lat, longitude, director, release_year in all_locations %}
                // {{title}}, Location: {{ location_text }}, Coordinates: {{ lat }}, {{ longitude }}, Fun Facts: {{ fun_facts }}
                  var coordPosition = new google.maps.LatLng({{ lat }}, {{ longitude }});
                  var marker = new google.maps.Marker({
                      map: map,
                      title: "{{ location_text }}",
                      position: coordPosition,
                      releaseYear: "{{ release_year}}"
                  });
                  markerArray.push(marker);
                  var movieTitleText = "{{ title }}";
                  var movieRTLink = encodeTextForRTLink(movieTitleText);
                  var locationText = "{{ location_text }}";
                  var directorText = "{{ director }}";
                  var directorRTLink = encodeTextForRTLink(directorText);
                  var releaseYearText = "{{ release_year }}";
                  var content = "<div class='content'><h4 class='movieTitle'><a  target='_blank' href='http://www.rottentomatoes.com/m/"+movieRTLink +"''>"+ movieTitleText +"</a> " +" ("+ releaseYearText.toString() +")" +"</h4><div class='bodyContent'><p class='location'><p class='fun_facts'>" + "<b>Directed by</b><br><a  target='_blank' href='http://www.rottentomatoes.com/celebrity/"+directorRTLink +"''>" + directorText  + "</a></p></div><b>Location</b><br>" + locationText + "</p>";

                  // Create a new pop-up info window on click.
                  var infowindow = new google.maps.InfoWindow({});
                  google.maps.event.addListener(marker,'click', (function(marker,content,infowindow){
                      return function() {
                            infowindow.setContent(content);
                            infowindow.open(map,marker);
                            // DESIGN DECISION: Close the infowindow after 10 seconds to avoid crowding map with pop-ups.
                            setTimeout(function () { infowindow.close(); }, 10000);
                      };
                  })(marker,content,infowindow));
               {% endfor %}
             {% endfor %}
            {% endif %}

          var releaseYearSlide = $("#slide");
          // Attach "change" event handler on the year slider and when slider changes, then markers are hidden or shown.
          releaseYearSlide.on("change", function() {
              document.getElementById("display_year").innerHTML = this.value;

              for (var markerCount=0;markerCount<markerArray.length;markerCount++) {
                  if (parseInt(markerArray[markerCount].releaseYear) <= parseInt(this.value)) {
                      // Hide the marker locations that are less than the release year.
                      markerArray[markerCount].setVisible(false);
                  } else {
                    markerArray[markerCount].setVisible(true);
                  }
              }
          })
           // Create autocompletion search box, year slider element, and year text display html element.
           var input = (document.getElementById('pac-input'));
           var yearSlider = (document.getElementById('release_year_filter'));
           map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);
           map.controls[google.maps.ControlPosition.TOP_LEFT].push(yearSlider);
           var searchBox = new google.maps.places.SearchBox((input));
           /*
           // Listen for the event fired when the user selects an item from the
           // pick list. Retrieve the matching places for that item.
           google.maps.event.addListener(searchBox, 'places_changed', function() {
               var places = searchBox.getPlaces();
              // For each place, get the icon, place name, and location.
              var bounds = new google.maps.LatLngBounds();
              for (var i = 0, place; place = places[i]; i++) {
                  // Create the icon image associated with the place result. Otherwise, the default is a red point icon.
                  var image = {
                      url: place.icon,
                      size: new google.maps.Size(71, 71),
                      origin: new google.maps.Point(0, 0),
                      anchor: new google.maps.Point(17, 34),
                      scaledSize: new google.maps.Size(25, 25)
                  };
                  // Create a marker for each place.
                  var marker = new google.maps.Marker({
                      map: map,
                      icon: image,
                      title: place.name,
                      position: place.geometry.location
                  });

                  var content ="<div class='content'><h4 class='place_name'>"+place.name+"</h4><p class='location'>"
                      +"<b>Location:</b><br>" + place.formatted_address + "</p></div>";

                  if (place.price_level) {
                      content += "<p class='price_level'><b>Price Level:</b><br>"+ place.price_level.toString() +"</p>";
                  }
                 // Create a pop-up window on click.
                  google.maps.event.addListener(marker,'click', (function(marker,content,infowindow){
                      return function() {
                          infowindow.setContent(content);
                          infowindow.open(map,marker);
                      };
                  })(marker,content,infowindow));
              }
            });
           google.maps.event.addListener(map, 'bounds_changed', function() {
              var bounds = map.getBounds();
              searchBox.setBounds(bounds);
           });
*/
      }

      function encodeTextForRTLink(name) {
            name = name.replace(/ /g,"_");
            return name;
      }
      google.maps.event.addDomListener(window, 'load', initialize);
    </script>
  </head>
  <body>
    <input id="pac-input" class="controls" type="text" placeholder="Enter movie title or director's name">
    <div id="release_year_filter">
      <div class="filter_instruction">Filter by movie release year.<br></div>
      <input id="slide" type="range"  min="1950" max="2050" value="2000"/>
      <span id="display_year"></span>
    </div>
    <div id="map-canvas"></div>
  </body>
</html>